
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的活动</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../addons/{MODULE}/template/mobile/css/layout.css">
</head>
<body>
<div class="list">
</div>
{if $is_haveactive == 1}
<div>您还未参加任何活动哦！</div>
{/if}
<p class="loading">加载中...</p>
<script type="text/javascript" src="../addons/{MODULE}/template/mobile/js/zepto.min.js"></script>
<script type="text/javascript" src="../addons/{MODULE}/template/mobile/js/main_public.js"></script>
<script type="text/javascript">
    $('.nav-item').click(function () {
        $('.nav-item').removeClass('active')
        $(this).addClass('active')
    })

    var current_page = 1 // 当前页数
    var stop_multiple_load = false; // 阻止多次连续加载
    function getlist (page) {
        var str;
        $.ajaxSettings.async = false;
        $.get("{php echo $this->createMobileUrl('list')}",{'page':page,'my':'true'},function(res){
            str = res.msg;
            if(res.page>=res.pageAll){
                stop_multiple_load = true;
            }
        },'json');
        $.ajaxSettings.async = true;
        $('.loading').show() // 显示加载文字

        setTimeout(function () { // 模拟ajax回调
            $('.list').append(str)
            $('.loading').hide() // 隐藏加载文字
        }, 500)
        return stop_multiple_load;
    }

    getlist(current_page); // 初始化列表

    $(window).scroll(function () {
        var divHeight = $(window).height()
        var nScrollHeight = document.body.scrollHeight
        var nScrollTop = $(window).scrollTop()
        if (nScrollTop + divHeight > nScrollHeight - 100) {
            // 阻止多次连续加载
            if (stop_multiple_load) return false;
            current_page++;
            getlist(current_page) // 加载列表
            return current_page;
        }
    })
</script>
</body>
</html>