{template '../../../addons/'.MODULE.'/template/web/common/myheader'}
	<script type="text/javascript" src="../../../addons/{php echo MODULE}/template/web/js/areatocounty.js"></script>
	<div class="title_tab">
		<ul class="tab_navs title_tab">
			<!-- <li class="tab_nav js_top selected" showme="basic_group"><a href="javascript:;">基本参数</a></li> -->
			<li class="tab_nav js_top " showme="answer_group"><a href="javascript:;">基本参数</a></li>
			<!-- <li class="tab_nav js_top " showme="basic2_group"><a href="javascript:;">抽奖参数</a></li> -->
			<!-- <li class="tab_nav js_top " showme="other_group"><a href="javascript:;">防封设置</a></li>
			<li class="tab_nav js_top " showme="share_group"><a href="javascript:;">分享参数</a></li> -->
		</ul>
	</div>

<form action="" method="POST">
	<div class="answer_group settings_group">
		<div class="frm_control_group" >
			<label for="" class="frm_label">页面入口</label>
			<div class="frm_controls">
				<span class="frm_input_box">
					<input type="text" class="frm_input" name="lottery_count" value="{php echo $_W['siteroot']}app/{php echo murl('entry', array('do' => 'index', 'm' => MODULE), true)}" readonly='true'>
				</span>
				<p class="frm_tips"></p>
			</div>
		</div>
	</div>

	<!--<div class="tool_bar">-->
		<!--<button type="submit" name="submit" value="123" class="btn btn_primary" >保存</button>-->
		<!--<input type="hidden" name="token" value="{$_W['token']}" />-->
	<!--</div>-->
</form>


{template '../../../addons/'.MODULE.'/template/web/common/myfooter'}
