<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width,height=device-height,maximum-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no" />
  <title>我的二维码</title>
	<link rel="stylesheet" type="text/css" href="../addons/dbs_masclwlcard/template/wxapp/css/weui.min.css">
</head>

<style type="text/css">

</style>



<body>

<div>

<img src="{$wx_png}" alt="" style="width:100%;margin:auto">
</div>

</body>


</html>
