{template 'common/header-base'}
<div data-skin="default" class="skin-default {if $_GPC['main-lg']} main-lg-body {/if}">
{php $frames = buildframes(FRAME);_calc_current_frames($frames);}
<div class="head">
	<nav class="navbar-default" role="navigation">
		<div style="width:1200px;position: relative;text-align: center;margin: 0 auto;" class="mycontainer  {if !empty($frames['section']['platform_module_menu']['plugin_menu'])}plugin-head{/if}">
			<div class="navbar-header">
				<a class="navbar-brand" href="{$_W['siteroot']}">
					<img src="{if !empty($_W['setting']['copyright']['blogo'])}{php echo tomedia($_W['setting']['copyright']['blogo'])}{else}./resource/images/logo/logo.png{/if}" class="pull-left" width="110px" height="35px">
					<span class="version hidden">{IMS_VERSION}</span>
				</a>
			</div>
			{if !empty($_W['uid'])}
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-left">
					{php global $top_nav}
					{loop $top_nav $nav}
					<li{if FRAME == $nav['name']} class="active"{/if}><a href="{if empty($nav['url'])}{php echo url('home/welcome/' . $nav['name']);}{else}{$nav['url']}{/if}" {if !empty($nav['blank'])}target="_blank"{/if}>{$nav['title']}</a></li>
					{/loop}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="wi wi-user color-gray"></i>{$_W['user']['username']} <span class="caret"></span></a>
						<ul class="dropdown-menu color-gray" role="menu">
							<li>
								<a href="{url 'user/profile'}" target="_blank"><i class="wi wi-account color-gray"></i> 我的账号</a>
							</li>
							{if $_W['isfounder']}
							<li class="divider"></li>
							{if uni_user_see_more_info(ACCOUNT_MANAGE_NAME_VICE_FOUNDER, false)}
							<li><a href="{url 'cloud/upgrade'}" target="_blank"><i class="wi wi-update color-gray"></i> 自动更新</a></li>
							{/if}
							<li><a href="{url 'system/updatecache'}" target="_blank"><i class="wi wi-cache color-gray"></i> 更新缓存</a></li>
							<li class="divider"></li>
							{/if}
							<li>
								<a href="{url 'user/logout'}"><i class="fa fa-sign-out color-gray"></i> 退出系统</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			{else}
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="{php echo url('user/register');}">注册</a></li>
					<li class="dropdown"><a href="{php echo url('user/login');}">登录</a></li>
				</ul>
			</div>
			{/if}
		</div>
	</nav>
</div>
{if empty($_COOKIE['check_setmeal']) && !empty($_W['account']['endtime']) && ($_W['account']['endtime'] - TIMESTAMP < (6*86400))}
<div class="system-tips we7-body-alert" id="setmeal-tips">
	<div class="container text-right">
		<div class="alert-info">
			<a href="{if $_W['isfounder']}{php echo url('user/edit', array('uid' => $_W['account']['uid']));}{else}javascript:void(0);{/if}">
				该公众号管理员服务有效期：{php echo date('Y-m-d', $_W['account']['starttime']);} ~ {php echo date('Y-m-d', $_W['account']['endtime']);}.
				{if $_W['account']['endtime'] < TIMESTAMP}
				目前已到期，请联系管理员续费
				{else}
				将在{php echo floor(($_W['account']['endtime'] - strtotime(date('Y-m-d')))/86400);}天后到期，请及时付费
				{/if}
			</a>
			<span class="tips-close" onclick="check_setmeal_hide();"><i class="wi wi-error-sign"></i></span>
		</div>
	</div>
</div>
<script>
	function check_setmeal_hide() {
		util.cookie.set('check_setmeal', 1, 1800);
		$('#setmeal-tips').hide();
		return false;
	}
</script>
{/if} 

<link rel="stylesheet" type="text/css" href="{php echo MODULE_URL}template/web/css/common.css{php echo '?t='.TIMESTAMP}">
<link rel="stylesheet" type="text/css" href="{php echo MODULE_URL}template/web/css/tao.css{php echo '?t='.TIMESTAMP}">
<link rel="stylesheet" href="{php echo MODULE_URL}template/web/css/jquery-ui.css">
<script src="{php echo MODULE_URL}template/web/js/jquery-ui.js"></script>
<script type="text/javascript" src="{php echo MODULE_URL}template/web/js/tao.js{php echo '?t='.TIMESTAMP}"></script>

	{php $leftmenu = Data::webMenu()}

 	<div id="body" class="body page_message"> 
   		<div id="js_container_box" class="container_box cell_layout side_l">
	    	<div class="col_side"> 
	    		 <div class="menu_box" id="menuBar">
				    {loop $leftmenu $k $item}
				    	{if $item['hide'] == 0 && !empty( $item )}
					    <dl class="menu">
					     	<dt class="menu_title clickable">
					     		<a href="{php echo empty($item['url']) ? 'javascript:;' : $item['url']}">
					      			<i class="icon_menu" style="background:url({$item['icon']}) no-repeat;"> </i>{$item['name']} 
					      		</a>
					     	</dt>
					     	{loop $item['list'] $kk $vv}
					     		{if $vv['hide'] == 0}
							    <dd class="menu_item {if ($_GPC['do'] == $k && $_GPC['op'] == $vv['op']) || $_GPC['c'] == 'module' && $vv['op'] == 'set' }selected{/if}">
							      	<a href="{$vv['url']}" class="left_title_box">{$vv['name']} {if isset($vv['num'])}<i>{$vv['num']}</i>{/if}</a>
							    </dd>
							    {/if}
							{/loop}
					    </dl>
					    {/if}
				    {/loop}
	     		</div>
	    	</div>
	    	<div class="col_main">
	    		{loop $leftmenu $k $item}
	    			{if $_GPC['do'] == $k}
						<div class="main_hd">
							<h2>{$item['name']}</h2>
							<div class="title_tab" id="topTab">
								<ul class="tab_navs title_tab">
									{loop $item['list'] $kk $vv}
										
										{if $vv['hide'] != 1 || ($_GPC['op'] == $vv['op'] && $vv['hide'] == 1 )}
										<li class="tab_nav first js_top {if $_GPC['op'] == $vv['op']}selected{/if}">
										{if in_array( $_GPC['op'],(array)$item['toplist'] )}
											<a class="left_title_box top_title_box" href="{$vv['url']}">{$vv['name']} {if isset($vv['num'])}<i>{$vv['num']}</i>{/if} </a>
										{/if}
										</li>
										{/if}
									{/loop}
								</ul>
							</div>
						</div>
					{/if}
				{/loop}
				
				<div class="main_bd">