<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta charset="UTF-8">
		<title></title>		
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/swiper.min.css" />
		<link rel="stylesheet" href="font/iconfont.css" />
		<link rel="stylesheet" href="css/base.css" />
	</head>
	<body>
		<div class="content p10">
			<div class="classList">
				<ul>
					<li class="mb10 bWhite">
						<div class="tit pr after gridXb">
				        	<h2 class="f18">一级分类</h2>
				        </div>
				        <div class="classListMin tc mt15">
							<dl class="flex">
								<dd>
									<a class="hi40 disb line-text" href="#">二级分类</a>
								</dd>
								<dd>
									<a class="hi40 disb line-text" href="#">二级分类</a>
								</dd>
								<dd>
									<a class="hi40 disb line-text" href="#">二级分类</a>
								</dd>
								<dd>
									<a class="hi40 disb line-text" href="#">二级分类</a>
								</dd>
								<dd>
									<a class="hi40 disb line-text" href="#">二级分类</a>
								</dd>
								<dd>
									<a class="hi40 disb line-text" href="#">二级分类</a>
								</dd>
							</dl>
						</div>
					</li>
					<li class="mb10 bWhite">
						<div class="tit pr after gridXb">
				        	<h2 class="f18">一级分类</h2>
				        </div>
				        <div class="classListMin tc mt15">
							<dl class="flex">
								<dd>
									<a class="hi40 disb line-text" href="#">二级分类</a>
								</dd>
								<dd>
									<a class="hi40 disb line-text" href="#">二级分类</a>
								</dd>
								<dd>
									<a class="hi40 disb line-text" href="#">二级分类</a>
								</dd>
								<dd>
									<a class="hi40 disb line-text" href="#">二级分类</a>
								</dd>
								<dd>
									<a class="hi40 disb line-text" href="#">二级分类</a>
								</dd>
								<dd>
									<a class="hi40 disb line-text" href="#">二级分类</a>
								</dd>
							</dl>
						</div>
					</li>
				</ul>
			</div>
		</div>
		 <!--foot start-->
	        <div class="foot tc bWhite">
	        	<ul class="flex">
	        		<li class="sub">
	        			<a class="active" href="#">
	        				<i class="iconfont icon-shouye disb"></i>
	        				首页
	        			</a>
	        		</li>
	        		<li class="sub">
	        			<a href="#">
	        				<i class="iconfont icon-gerenzhongxin disb"></i>
	        				个人中心
	        			</a>
	        		</li>
	        	</ul>
	        </div>
	        <!--foot end-->
	</body>
</html>
