<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta charset="UTF-8">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<title>课程</title>
		{php echo register_jssdk(false);}
		<link rel="stylesheet" href="{RES}new_style/css/style.css" />
		<link rel="stylesheet" href="{RES}new_style/css/swiper.min.css" />
		<link rel="stylesheet" href="{RES}new_style/font/iconfont.css" />
		<link rel="stylesheet" href="{RES}new_style/css/base.css" />
		<script type="text/javascript" src="{RES}js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="{RES}js/script.js"></script>
		<script type="text/javascript" src="{RES}js/swiper.min.js"></script>
	</head>
	<script>
		var post_url = "{php echo $this->createmobileurl('detail')}"
		var pindex = 1;
		var pcate='';
		var ccate='';
		var postData={};
		var recommend = "{$_GPC['recommend']}";
		function pageLoadCommon(a, b) {
			a.scroll(function() {
				distanceScrollCount = document.body.scrollHeight;
				distanceScroll = document.body.scrollTop;
				topicPageHight = document.body.clientHeight;
				1 >= distanceScrollCount - distanceScroll - topicPageHight && b()
			})
		}
		$(function() {
			pageLoadCommon($(document), function() {
				pindex++;
				postData.pindex=pindex;
				console.log(postData)
				more(postData);
			});
			$('.top .topNav').click(function() {
				$('.chooseBox,.choose').addClass('active');
			})
			$('.choose .btn a:first-child').click(function() {
				$('.chooseBox,.choose').removeClass('active');
			})

		})
	</script>
	<style>
		.top {
			background: #8B96B0;
			padding: 10px;
		}
		
		.searchMin button {
			width: 36px;
		}
		
		.searchMin button:active {
			background: #fff;
			color: #8B96B0;
		}
		
		.top .topNav {
			width: 36px;
		}
		.choose .btn{
			width:80%;
			position: fixed;
			bottom: 0;
			right: 0;
		}
		
		.choose .btn a:first-child {
			background: #8B96B0;
			color:#fff;
		}
		.choose .btn a:last-child{
			background: #f5f5f5;
		}
		.choose {
			width: 80%;
			height: 100vh;
			overflow: hidden;
			overflow-y: auto;
			position: fixed;
			top: 0;
			right: -80%;
			z-index: 999;
			-webkit-animation: popup 0.4s ease forwards;
			-webkit-opacity: 0;
			display: none;
			padding: ;
			
		}
		
		.choose.active {
			display: block;
			right: 0%;
		}
		
		.chooseMin dl {
			flex-wrap: wrap;
			width: 100%;
			display: block;
		}
		
		.chooseMin li dd {
			width: 32%;
			margin: 0;
			display: inline-block;
		}
		
		.chooseMin li dd a {
			padding: 5px;
			display: inline-block;
		}
		.popup .popup-box{ -webkit-animation: popup 0.4s ease forwards; -webkit-transform: translateY(36vh); -webkit-opacity: 0;}
		@-webkit-keyframes popup {
		  0% { right:-80%; -webkit-opacity: 0;}
		  100%{right:0%; -webkit-opacity: 1;}
		}
		.catecolor{color: red;}
	</style>

	<body>
		<div class="top flex">
			<div class="search sub">
				<div class="searchMin flex bWhite hi36 m-auto bd3 overflow">
					<label class="sub">
	                    <input class="text pl15 pr15" id="search" type="text" placeholder="请输入课程标题" onkeyup="search();" />
	                 
	                </label>
					<button class="hi36 tc grey">
	                	<i class="iconfont icon-icon117 "></i>
	                </button>

				</div>
			</div>
		<!-- 	<div class="topNav h36 tc ml10">
				<i class="iconfont icon-daohang hi36 blank"></i>
			</div> -->
		</div>

		<!--弹框 start-->
		<div class="chooseBox">
			<div class="choose bWhite">
			<div class="title tc f16">筛选</div>
			<div class="chooseMin  p15">
				<ul>
				{loop $category $val}
					{if empty($val['parentid'])}
						<li>
							{if empty($val['parentid'])}
								<h2 class="gridXb pt10 pb10 f14">{$val['name']}</h2>
							{/if}
							<dl class="flex  mt10">
								<dd>
									<a class="grey cate" href="javascript:;" data-pcate="{$val['id']}" data-cate="0" onclick="tagClick(this)">全部</a>
								</dd>
								{loop $category $row}
									{if $row['parentid']==$val['id']}
										<dd>
											<a class="grey cate" href="javascript:;" data-pcate="{$row['parentid']}" data-ccate="{$row['id']}" onclick="tagClick(this)">{$row['name']}</a>
										</dd>
									{/if}
								{/loop}
							</dl>
						</li>
					{/if}
				{/loop}	
				</ul>
			</div>	
			<div class="btn flex tc">
				<a class="sub hi40 disb" href="javascript:;">完成</a>
				<a class="sub hi40 disb" onclick="tagClick(this)" href="javascript:;">重置</a>
			</div>
		</div>		
		</div>		
		<div class="content">
			<!-- Swiper -->
			<div class="Recommend bWhite mt10 f14">
				<div class="NewMin">
					<ul>
						{loop $article $val}
						<li class="gridXb">
							<a class="flex p15" href="{php echo $this->createmobileurl('detail',array('id'=>$val['id']))}">
								<div class="img imgWH bd3" style="background-image: url({$val['thumb']});"></div>
								<div class="info sub ml15 flex-column-c">
									<h3 class="line-text f14">{$val['title']}</h3>
									<p class="line-text f12 mt5 grey">{php echo strip_tags(htmlspecialchars_decode($val['description']))}</p>
									<div class="flex grey mt5 f12">
										<span class="left line-text" style="width:70px;">
                                            <i class="iconfont icon-zuozhe f12"></i>
                                            {$val['author_name']}
                                        </span>
										<div class="right sub flex tr">
											<span class="line-text sub">
                                                    <i class="iconfont icon-yanjing f12 pr5"></i>{$val['clickNum']}
                                            </span>
											<span class="line-text sub">
                                                    <i class="iconfont icon-dianzan f12 pr5"></i>{$val['zanNum']}
                                            </span>
											{if $val['pay_money']>0}
											<span class="line-text sub">
												<i class="iconfont  f12 pr5">&#xe602;</i>{$val['pay_money']}
											</span>
											{/if}
										</div>
									</div>
								</div>
							</a>
						</li>
						{/loop}
					</ul>
				</div>
				{if !empty($article)}				
			</div>
			<div class="still tc mt10" id="next">

				{if (int)$count > $psize}
				<span class="loadding"></span> 正在加载...{else} 已加载全部{/if}
			</div>
		</div>
		<style type="text/css">
			.still {
				width: inherit;
				height: 40px;
				background: inherit;
				-webkit-border-radius: inherit;
				border-radius: inherit;
				line-height: 40px;
				color: #888;
				margin: 0;
			}
			
			.loadding {
				width: 16px;
				height: 16px;
				border: 2px solid #afafaf;
				border-top: 2px solid #ddd;
				border-radius: 50%;
				display: inline-block;
				vertical-align: -2px;
				-webkit-animation: loadding 1s infinite linear;
				animation: loadding 1s infinite linear;
			}
			
			@keyframes loadding {
				0% {
					-webkit-transform: rotate(0deg);
					transform: rotate(0deg);
				}
				100% {
					-webkit-transform: rotate(360deg);
					transform: rotate(360deg);
				}
			}
		</style>
		{/if}
		<!--列表 end-->
		<div style="height: 60px;"></div>
		<!--{$pager}-->
		{template footer}
	</body>

</html>
<script>
	$(function() {
		wx.ready(function() {
			shareMeta = {
				imgUrl: "{$shareimg}",
				link: "{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=payred_index&m=dg_articlemanage",
				desc: "{$sharedesc}",
				title: "{$sharetitle}",
				success: function() {

				},
				cancel: function() {
					// alert("分享失败，可能是网络问题，一会儿再试试？");
				}
			};
			wx.onMenuShareTimeline(shareMeta);
			wx.onMenuShareAppMessage(shareMeta);
			wx.onMenuShareWeibo(shareMeta);
			wx.onMenuShareQQ(shareMeta);
			wx.onMenuShareQZone(shareMeta);
		});
	});
</script>
<script>
	function more(postData) {
			pindex = postData.pindex;
			var pcate = postData.pcate;
			var ccate = postData.ccate;
			var sear = $("#search").val();
			var database = {
				"ccate": ccate,
				"pcate": pcate,
				"page": pindex,
				"recommend": recommend,
				"search": sear
			}
			$.ajax({
				type: "post",
				url: "{php echo $this->createmobileurl('article')}",
				data: database,
				datatype: "json",
				success: function(data) {
					var article = data.list;
					if(jQuery.isEmptyObject(article)) {
						$("#next").html('已加载全部');
						return false;
					} else {
						var html = "";
						for(i = 0; i < article.length; i++) {
							html += '<li class="gridXb"><a class="flex p15" href="' + post_url + '&id=' + article[i].id + '">';
							html += '<div class="img imgWH bd3" style="background-image: url(' + article[i].thumb + ');"></div><div class="info sub ml15 flex-column-c">';
							html += '<h3 class="line-text f14">' + article[i].title + '</h3><p class="line-text f12 mt5 grey">'+article[i].description+'</p>';
							if(article[i].author_name == null) {
								article[i].author_name = '';
							}
							html += ' <div class="flex grey mt5 f12"><span class="left line-text"><i class="iconfont icon-zuozhe f12"></i>' + article[i].author_name + '</span>';
							html += '<div class="right sub flex tr"><span class="line-text sub"> <i class="iconfont icon-yanjing f12 pr5"></i>' + article[i].clickNum + '</span><span class="line-text sub"><i class="iconfont icon-dianzan f12 pr5"></i>' + article[i].zanNum + '</span></div>';
							html += '</div></div></a></li>';
						}
						$(".NewMin > ul").append(html);
						$("#next").html('<span class="loadding"></span>正在加载...');
					}
				}
			})
		}

	function none() {
		$('.menuCon').hide();
	}
	function tagClick(obj){
		$(".cate").removeClass("catecolor");
		$(obj).addClass("catecolor");
		postData.pcate=$(obj).attr('data-pcate');
		postData.ccate=$(obj).attr('data-ccate');
		var sear = $("#search").val();
		var pcate = postData.pcate;
		var ccate = postData.ccate;
		$.ajax({
			url: "{php echo $this->createmobileurl('article')}",
			type: "post",
			data:{
				"search": sear,
				"ccate": ccate,
				"recommend": recommend,
				"pcate": pcate
			},
			datatype: "json",
			success: function(data) {
				var article = data.list;
				var html = '';
				if(jQuery.isEmptyObject(article)) {
					$(".NewMin > ul").empty();
					$("#next").html('已加载全部');
				} else {
					$(".NewMin > ul").empty();
					for(i = 0; i < article.length; i++) {
							html += '<li class="gridXb"><a class="flex p15" href="' + post_url + '&id=' + article[i].id + '">';
							html += '<div class="img imgWH bd3" style="background-image: url(' + article[i].thumb + ');"></div><div class="info sub ml15 flex-column-c">';
							html += '<h3 class="line-text f14">' + article[i].title + '</h3><p class="line-text f12 mt5 grey">'+article[i].description+'</p>';
							if(article[i].author_name == null) {
								article[i].author_name = '';
							}
							html += ' <div class="flex grey mt5 f12"><span class="left line-text"><i class="iconfont icon-zuozhe f12"></i>' + article[i].author_name + '</span>';
							html += '<div class="right sub flex tr"><span class="line-text sub"> <i class="iconfont icon-yanjing f12 pr5"></i>' + article[i].clickNum + '</span><span class="line-text sub"><i class="iconfont icon-dianzan f12 pr5"></i>' + article[i].zanNum + '</span></div>';
							html += '</div></div></a></li>';

					}
					$(".NewMin > ul").append(html);
					if(parseInt(data.total) > parseInt(data.psize)){
							$("#next").html('<span class="loadding"></span>正在加载...');
						}else{
							$("#next").html('已加载全部');
						}
					$("#sub").data('status', 2);
				}
			}
		});
	}
	function search() {
		var sear = $("#search").val();
		var pcate = postData.pcate;
		var ccate = postData.ccate;
		console.log(postData)
		var submit = true;
		$.ajax({
			url: "{php echo $this->createmobileurl('article')}",
			type: "post",
			data: {
				"search": sear,
				"submit": submit,
				"ccate": ccate,
				"recommend": recommend,
				"pcate": pcate
			},
			datatype: "json",
			success: function(data) {
				var article = data.list;
				var html = '';
				if(jQuery.isEmptyObject(article)) {
					$(".NewMin > ul").empty();
					$("#next").html('已加载全部');
				} else {
					$(".NewMin > ul").empty();
					for(i = 0; i < article.length; i++) {
							html += '<li class="gridXb"><a class="flex p15" href="' + post_url + '&id=' + article[i].id + '">';
							html += '<div class="img imgWH bd3" style="background-image: url(' + article[i].thumb + ');"></div><div class="info sub ml15 flex-column-c">';
							html += '<h3 class="line-text f14">' + article[i].title + '</h3><p class="line-text f12 mt5 grey">'+article[i].description+'</p>';
							if(article[i].author_name == null) {
								article[i].author_name = '';
							}
							html += ' <div class="flex grey mt5 f12"><span class="left line-text"><i class="iconfont icon-zuozhe f12"></i>' + article[i].author_name + '</span>';
							html += '<div class="right sub flex tr"><span class="line-text sub"> <i class="iconfont icon-yanjing f12 pr5"></i>' + article[i].clickNum + '</span><span class="line-text sub"><i class="iconfont icon-dianzan f12 pr5"></i>' + article[i].zanNum + '</span></div>';
							html += '</div></div></a></li>';

					}
					$(".NewMin > ul").append(html);
					if(parseInt(data.total) > parseInt(data.psize)){
							$("#next").html('<span class="loadding"></span>正在加载...');
						}else{
							$("#next").html('已加载全部');
						}
					$("#sub").data('status', 2);
				}
			}
		});
	}
</script>