{template 'common/header'}
<ul class="nav nav-tabs">
	<li><a href="{php echo $this->createWebUrl('shops', array('op'=>'display'));}">商品列表</a></li>
	<li><a href="{php echo $this->createWebUrl('shops', array('op'=>'edit'));}">添加商品</a></li>
	
	<li><a href="{php echo $this->createWebUrl('category', array('op' => 'edit'))}">添加分类</a></li>
	<li><a href="{php echo $this->createWebUrl('category', array('op' => 'display'))}">管理分类</a></li>
	
	<li><a href="{php echo $this->createWebUrl('spec_goods', array('op'=>'edit'));}">商品属性列表</a></li>
	<li><a href="{php echo $this->createWebUrl('spec_goods', array('op'=>'edit'));}">添加商品属性</a></li>
	
	<li  class="active"><a href="{php echo $this->createWebUrl('shops_fx');}">分佣设置</a></li>
	
	<li>
        <a href="{php echo $this->createWebUrl('order_list', array('op' => 'display'))}">全部订单</a>
    </li>
	
	
	
	
</ul>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			分佣设置
		</h3>
	</div>
	<div class="panel-body">
		<form action="" method="post"  id="form" class="form-horizontal" role="form">
		
			  
			
			  
			  <div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">是否开启分佣</label>
				<div class="col-xs-12 col-sm-8">
					<label class="radio radio-inline">
						<input type="radio" name="open_fx" value="0" {if intval($info['open_fx']) == 0}checked="checked"{elseif intval($info['open_fx']) == ''}checked="checked"{else} {/if}> 否
					</label>
					<label class="radio radio-inline">
						<input type="radio" name="open_fx" value="1" {if intval($info['open_fx']) == 1}checked="checked"{/if}> 是
					</label>
				</div>
			</div>
			
			 <div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">分佣金额</label>
				<div class="col-xs-12 col-sm-8">
					<div class="input-group">
						<input type="text" name="fx_price" class="form-control" value="{php echo $info['fx_price'];}" />
					</div>	
				</div>
			</div>
			
			
			  
				  
			  <div class="form-group">
				<div class="col-sm-offset-2 col-sm-13">
					<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
				  <input type="hidden" name="token" value="{$_W['token']}" />
				</div>
			  </div>
		</form>
	</div>
</div>
{template 'common/footer'}