<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/base.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/swiper.min.css" />
		<link rel="stylesheet" href="font/iconfont.css" />

		<script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript">
			$(function(){
				$('.infoIn i').click(function(){
					$('.infoIn p,.infoIn span,.infoIn i.pabbr').addClass('active');
				})
				$('.infoIn span').click(function(){
					$('.infoIn p,.infoIn i.pabbr,.infoIn span').removeClass('active');

				})
				$('.review .title p').click(function(){
					$('.Elastic,.ElasticMin').addClass('active');
				})
				$('.ElasticMin .close').click(function(){
					$('.Elastic').removeClass('active');
				})
			})
		</script>
	</head>
	<body>
		<div class="Catalog pr before p10">
				<div class="tit black flex-jb pr">
					<a class="pr blank hi40 disb" style="width: 92%;" href="column.html">
						<i class="iconfont icon-fanhui"></i>												
					</a>					
					<span class="f14 tr hi40 blank" style="width: 40px;">正序</span>
					<h2 class="blank disi float-mid f18" style="top:20px;">武动乾坤</h2>
				</div>				
				<div class="CatalogMin bWhite bd8 pl15 pr15">					
						<ul>
								<li class="gridXb">
										<a class="hi40 arrow-r disb" href="Chapter.html">1.小桥流水人家，枯藤老树昏鸦</a>
								</li>
								<li class="gridXb">
										<a class="hi40 arrow-r disb" href="Chapter.html">2.小桥流水人家，枯藤老树昏鸦</a>
								</li>
								<li class="gridXb">
										<a class="hi40 arrow-r disb" href="Chapter.html">3.小桥流水人家，枯藤老树昏鸦</a>
								</li>
								<li class="gridXb">
										<a class="hi40 arrow-r disb" href="Chapter.html">4.小桥流水人家，枯藤老树昏鸦</a>
								</li>
								<li class="gridXb">
										<a class="hi40 arrow-r disb" href="Chapter.html">5.小桥流水人家，枯藤老树昏鸦</a>
								</li>
								<li class="gridXb">
										<a class="hi40 arrow-r disb" href="Chapter.html">6.小桥流水人家，枯藤老树昏鸦</a>
								</li>
								<li class="gridXb">
										<a class="hi40 arrow-r disb" href="Chapter.html">7.小桥流水人家，枯藤老树昏鸦</a>
								</li>
								<li class="gridXb">
										<a class="hi40 arrow-r disb" href="Chapter.html">8.小桥流水人家，枯藤老树昏鸦</a>
								</li>
								<li class="gridXb">
										<a class="hi40 arrow-r disb" href="Chapter.html">9.小桥流水人家，枯藤老树昏鸦</a>
								</li>
								<li class="gridXb">
										<a class="hi40 arrow-r disb" href="Chapter.html">10.小桥流水人家，枯藤老树昏鸦</a>
								</li>
								<li class="gridXb">
										<a class="hi40 arrow-r disb" href="Chapter.html">11.小桥流水人家，枯藤老树昏鸦</a>
								</li>
								<li class="gridXb">
										<a class="hi40 arrow-r disb" href="Chapter.html">12.小桥流水人家，枯藤老树昏鸦</a>
								</li>
						</ul>
				</div>
				<div class="still mt20 mb20 tc">
						<span class="loading"></span>
						加载更多列表信息
				</div>
		</div>
			<div style="height: 60px;"></div>
		</div>
		 <!--foot start-->
	        <div class="foot tc bWhite">
	        	<ul class="flex">
	        		<li class="sub">
	        			<a class="active" href="index.html">
	        				<i class="iconfont icon-shouye disb"></i>
	        				首页
	        			</a>
	        		</li>
	        		<li class="sub">
	        			<a href="#">
	        				<i class="iconfont icon-gerenzhongxin disb"></i>
	        				个人中心
	        			</a>
	        		</li>
	        	</ul>
	        </div>
	        <!--foot end-->
	</body>
</html>
