{template 'common/header'}

<div class="main">
    <ul class="nav nav-tabs">
        <li{if $_GPC['op'] == 'display' || $_GPC['op'] == ''} class="active"{/if}><a href="{php echo $this->createWebUrl('user_set')}">角色列表
    </a></li>
        <li{if $_GPC['op'] == 'add'} class="active"{/if}><a
            href="{php echo $this->createWebUrl('user_set',array('op'=>'add'))}">添加角色</a></li>
    </ul>
<!--    <div class="panel panel-info">
        <div class="panel-heading">筛选</div>
        <div class="panel-body">
            <form action="./index.php" method="get" class="form-horizontal" role="form">
                <input type="hidden" name="c" value="site"/>
                <input type="hidden" name="a" value="entry"/>
                <input type="hidden" name="m" value="dg_articlemanage"/>
                <input type="hidden" name="do" value="grouping"/>
                <input type="hidden" name="op" value="display"/>


               <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 control-label">用户组名称</label>

                    <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                        <input class="form-control" name="keyword" id="" type="text" value="{$_GPC['keyword']}" placeholder="用户组名称">
                    </div>
                    <div class="pull-right col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>-->
 {if $op =='display'}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row-fluid">
                <div class="span8 control-group">
                    共计 {$total} 条数据
                </div>
            </div>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-hover">
                <thead class="navbar-inner">
                <tr>
                    <th>代理名称</th>
                    <th>分成比例</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="add_author">
                {loop $agent_list $row}
                <tr>
                    <td>{$row['agent_name']}</td>
                    <td>{$row['persent']}</td>
                    <td>{php echo date('Y/m/d H:i:s', $row['add_time'])}</td>
                   
<!--                    <td>{if !empty($row['end_time'])}{php echo date('Y/m/d H:i:s', $row['end_time']);}{/if}</td>
                    <td>{if $row['setmem']==1}<span class="label label-success ">后台设置</span>{else}<span
                            class="label label-success ">微信支付</span>{/if}</td>-->
                    <td data="{$row['id']}">
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="top"
                           href="{php echo $this->createweburl('set_user',array(a_id=>$row['a_id']))}"  title="设置人员">
                            <i class="fa fa-edit"></i></a>
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="javascript:" onclick="return del(this)" title="删除">
                            <i class="fa fa-times"></i></a>
                    </td>
                   
                </tr>
                
                {/loop}
                </tbody>
            </table>
        </div>
    </div>
    {$pager}
</div>
{elseif $op == 'add'}
<form class="form-horizontal form" id="form2" action="{php echo $this->createWebUrl('user_set',array('op'=>'post'))}" method="post" enctype="multipart/form-data">
        <div class="panel panel-default">
            <!-- <div class="panel-heading">
                添加代理
            </div> -->
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-9 col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon">代理名称</span>
                            <input type="text" class="form-control" name="agent_name" id="nickname" value="" / placeholder ="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-9 col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon">用户分享提成比例</span>
                            <input type="number" class="form-control" name="persent" value="">
                            <span class="input-group-addon">%</span>
                        </div>
                        <div class="help-block">这里的比例设置不能超过100</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <input type="submit" class="btn btn-primary col-lg-1 pull-right" value="提交" />
            <!-- <input type="hidden" name="token" value="{$_W['token']}" /> -->
        </div>
    </form>
{/if}
<!-- <div id="modal-module-menus"  class="modal fade" tabindex="-1">
    <div class="modal-dialog" style='width: 920px;'>
        <div class="modal-content">
            <div class="modal-header"><button aria-hidden="true" data-dismiss="modal" class="close" type="button">×
            </button><h3>选择用户</h3></div>
            <div class="modal-body" >
                <div class="row">
                    <div class="input-group">
                        <input type="text" class="form-control" name="keyword" value="" id="search-kwd" placeholder="请输入粉丝昵称" />
                        <span class='input-group-btn'><button type="button" class="btn btn-default" onclick="search_members()">搜索</button></span>
                    </div>
                </div>
                <div id="module-menus" style="padding-top:5px;"></div>
            </div>
            <div class="modal-footer"><a href="#" class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</a></div>
        </div>

    </div>
</div> -->
<script language='javascript'>

    function del(obj){
        var conf=confirm("确定删除吗？");
        var id=$(obj).parents('td').attr('data');
        $.post(location.href,{del:true,id:id},function(result){
            location.reload();
        });
    }

</script>
{template 'common/footer'}